/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*==================== BOOTSTRAP ICONS ====================*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
  text-decoration: none;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background-color: #222;
  color: white;
}

a, button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .add-btn {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border-radius: 5px;
}

.container .add-btn i {
  font-size: 1.5rem;
}

.notes {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  max-height: 350px;
  overflow-y: auto;
  padding: 0.2rem;
  border-radius: 10px;
}

.notes .note {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: auto;
  background-color: white;
  color: #333;
  padding: 0.75rem;
  border-radius: 5px;
}

.notes .note textarea {
  width: 100%;
  min-height: 80px;
  padding-right: 3rem;
  resize: none;
  font-size: 1.2rem;
}

.notes .note .delete {
  font-size: 2rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}